<h1>Edit Todo</h1>

<turbo-frame id={@todo.id}>
	<%= render "form.html", Map.put(assigns, :action, Routes.todo_path(@conn, :update, @todo)) %>
</turbo-frame>

<span><%= link "Back", to: Routes.todo_path(@conn, :index) %></span>
