<h1>Show Todo</h1>

<turbo-frame id={@todo.id}>
  <ul>
    <li>
      <strong>Title:</strong>
      <%= @todo.title %>
    </li>

  </ul>

  <span><%= link "Edit", to: Routes.todo_path(@conn, :edit, @todo) %></span> |
</turbo-frame>

  <span><%= link "Back", to: Routes.todo_path(@conn, :index) %></span>
